* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  color: #393646;
  background-color: #f4EEE0;
}

.container_nav {
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  margin: 15px 50px 15px 0px;
  gap: 50px;
  justify-content: center;
}

.nav {
  flex-flow: row wrap;
}

.nav > a {
  position: relative;
  color: #393646;
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
}

h1 {
  color: #ffffff;
  background-color: #393646;
  padding: 10px;
  border-radius: 30px; 
  width: 200px;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.about {
  text-align: center;
}

footer {
  background-color: #393646;
  color: #fff;
}

.footer-top {
  margin-top: 80px;
display: flex;
justify-content: space-around;
margin-left: 40px;
}

.top{
    color: #ffffff;
    margin-top: 70px;
  margin-bottom: 11px;
}
li > a {
    color: #ffffff;
  margin-top: 5px;
  margin-left: 0px;
  text-decoration: none;
}

.follow-us img {
  border-radius: 35px;
  height: 4vmax;
  width: 4vmax;
}

.contact-info {
  margin-left: -350px;
}

.navigation, .contact-info, .follow-us {
  flex: 0.3;
}

.navigation ul, .contact-info ul, .follow-us ul {
  list-style: none;
}

p {
  padding: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  align-items: center;
}
.footer-bottom h2, .footer-bottom h3 {
    color: #ffffff;
  margin: 0;
  font-weight: lighter;
  font-size: 1vmax;
}
.footer-bottom >div > a > img{
  width: 5vmax;
  border-radius: 50%;
}
.line {
  margin-top: 140px;
}

.line hr {
  border-top: 1px solid #fff;
}

header {
  background-color: #393646;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

.about-section {
  display: flex;
  justify-content: space-around;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.member-info {
  margin-top: 10px;
}
.nav > a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Ketebalan garis bawah */
  bottom: 0;
  left: 0;
  background-color: #393646; /* Warna garis bawah */
  transition: width 0.2s ease-in-out; /* Transisi lebar garis */
}
.nav > a:hover::after{
  width: 100%;
}
li > a:hover{
  color: black;
}
@media only screen and (max-width: 767px) {
  .navbar {
    flex-direction: row;
    justify-content: center;
    margin: 15px auto;
  }

  .nav {
    margin: 0 0;
  }

  .nav > a {
    font-size: 2vmax; 
  }

  .about {
    font-size: 2vmax;
    text-align: center;
  }

  .about-section {
    font-size: 1.7vmax;
  }

  .footer-top {
    margin: 1vmax;
    padding: 1vmax;
    font-size: 2vmax;
  }

  .follow-us img {
    width: 2.5vmax;
    height: 2.5vmax;
  }

  .team-member img {
    width: 15vmax;
    height: 15vmax;
  }
}
