*{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    color: #393646;
    box-sizing: border-box;
}
body{
  background-image:#f4EEE0;
}
div{
    z-index: 99;
}
.container_nav{
    flex-wrap: wrap;
}
.navbar{
    display: flex;
    margin : 15px 50px 15px 0px;
    gap: 50px;
    justify-content: center;
}
.nav{
    flex-flow: row wrap;
}
.nav > a{
    position: relative;
    color: #393646;
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;   
}
.container1{
    display: flex;
    margin-bottom: 30px;
}
.cont1{
    position: absolute;
    right: 72px;
    border-radius: 30px;
    background-color: #FFF3E3;
    width: 330px;
    height: 170px;
    align-content: center;
    text-align: center;
}
#judul{
    margin: 30px 80px;
    font-weight:normal;
    font-size: 35px;
}
#asus{
    font-weight: normal;
    font-size: 35px;
    direction: rtl;
    margin-right: 72px;
}
.cont1 > img{
    width: 300px;
    height: 300px;
}
.container2{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.cont2{
  display: flex;
    border-radius: 30px;
    /* gap: 30px; */
    background-color: #FFF3E3;
    width: 1200px;
    height: 150px;
    /* align-content: center; */
    overflow-x: scroll;
}
.cont2 > div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  flex: none;
}
.cont2::-webkit-scrollbar{
  display: none;

}
/* .img_cont{
    display: grid;
    justify-content: space-evenly;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    flex: none;
} */
.img_cont > img{
    width: 170px;
    height: 110px;
    /* justify-content: space-around; */
}
.article_container{
    margin-bottom: 150px;
}

#prev, #next{
  background-color : white;
  cursor: pointer;
  width: 50px;
  border-radius: 50% ;
  margin: 40px;
  z-index: 100;
  position: absolute;
}
#prev{
  transform: rotate(180deg) ;
  left: 10px;
  /* margin-top: 40px; */
}
#next{
  right: 10px;
}
footer {
    background-color: #393646;
    color: #fff;
  }
  
  .footer-top {
    margin-top: 80px;
    display: flex;
    margin-left: 200px;
    justify-content: space-around;
  }
  
  .top{
    color: #f4EEE0;
    margin-top: 70px;
    margin-bottom: 11px;
  }
  
  .a {
    color: #f4EEE0;
    margin-top: 5px;
    margin-left: -40px;
  }
  
  .follow-us img {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px ;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 50px;
    width: 50px;
  }
  
  .contact-info {
    margin-left: -350px;
  }
  
  .navigation, .contact-info, .follow-us {
    flex: 0.3;
  }
  
  .navigation ul, .contact-info ul, .follow-us ul {
    list-style: none;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px;
  }
  
  .footer-bottom h2, .footer-bottom h3 {
    margin: 0;
    color: #f4EEE0;
    font-weight: lighter;
    font-size: small;
  }
  
  .line {
    margin-top: 140px;
  }
  
  .line hr {
    border-top: 1px solid #fff;
  }

#svg1{
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 1;
}
#svg2{
    position: absolute;
    top: 400px;
}
#svg3{
    position: absolute;
    top: 900px;
    left: 900px;
}
#svg4{
    position: absolute;
    top: 1200px;
    right: 0;
}
#svg5{
    position: absolute;
    top: 1500px;
    left: 200px;
    z-index: -1;
}
.nav > a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Ketebalan garis bawah */
  bottom: 0;
  left: 0;
  background-color: #393646; /* Warna garis bawah */
  transition: width 0.2s ease-in-out; /* Transisi lebar garis */
}
.nav > a:hover::after{
  width: 100%;
}
.slide_button:hover{
  background-color: #575656;
}
.cont2:hover{
  cursor: pointer;
}