*{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    color:#393646;
}
body{
    background-image: linear-gradient(#f4EEE0 34%, #393646 96%);
}
.container_nav{
    flex-wrap: wrap;
}
.navbar{
    display: flex;
    margin : 15px 50px 15px 0px;
    gap: 50px;
    justify-content: center;
}
.nav{
    flex-flow: row wrap;
}
.nav > a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;  
}
.article > h2{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
pre{
    font-size: 20px;
    font-weight: 550;
}
.button{
    text-align: center;
    margin-top: 50px;
}
.article > h2{
    font-size: 40px;
}
.article_button{
    padding: 14px;
    background-color: #6D5D6E;
    font-weight: 650;
    border: 0;
    border-radius: 12px;
    width: 120px;
    height: 45px;
    color: #f4EEE0;
    text-decoration: none;
}
#laptop1{
    position: absolute;
    width: 382px;
    height: 330px;
    left: 71.7%;
    top: 298px;
    filter: brightness(50%);
    opacity: 85%;
    z-index: 1;
}
#svg1{
    position: absolute;
    top: 300px;
    left: 85%;
    opacity: 95%;
}
#laptop2{
    position: absolute;
    width: 600px;
    height: 420px;
    top: 740px;
    filter: brightness(50%);
    opacity: 85%;
    z-index: 1;
}
#svg2{
    position: absolute;
    top: 700px;
    opacity: 95%;
}
.aside{
    margin: 440px 40px 0px 815px;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 100px;
}
.aside_button{
    font-size: 17px;
    font-weight: 650;
    padding: 12px 23px;
    background-color: #6D5D6E;
    border: 0;
    border-radius: 12px;
    text-decoration: none;
    color : #f4EEE0
}

.title {
    margin-top: 240px;
}
.our_product{
    margin-left: 30px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.our_product > img{
    width: 260px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 4px 0px 30px;
    margin-right: 23px;
}
.our_product > a{
    position: relative;
    margin-left: 45px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    color: #42404d;
    font-weight: 650;
}

footer {
  background-color: #393646;
  color: #fff;
}

.footer-top {
    margin-top: 80px;
  display: flex;
  margin-left: 200px;
  justify-content: space-around;
}

.top{
    color: #ffffff;
    margin-top: 70px;
  margin-bottom: 11px;
}

.a {
    color: #ffffff;
  margin-top: 5px;
  margin-left: -40px;
}

.follow-us img {
  border-top-right-radius: 35px;
  border-top-left-radius: 35px ;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  height: 50px;
  width: 50px;
}

.contact-info {
  margin-left: -350px;
}

.navigation, .contact-info, .follow-us {
  flex: 0.3;
}

.navigation ul, .contact-info ul, .follow-us ul {
  list-style: none;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
}

.footer-bottom h2, .footer-bottom h3 {
    color: #ffffff;
  margin: 0;
  font-weight: lighter;
  font-size: small;
}

.line {
  margin-top: 140px;
}

.line hr {
  border-top: 1px solid #fff;
}
.article_button:hover{
    background-color: #f4EEE0;
    border: 2px solid #393646;
    transition: 0.2s;
    color: #393646;
}
.aside_button:hover{     
    color: #393646;
    background-color: #bebdb8;
    border: 2px solid #393646;
    transition: 0.2s;
}
.our_product > a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #393646; 
    transition: width 0.2s ease-in-out;
}
.our_product> a:hover::after{
    width: 100%;
}
.nav > a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Ketebalan garis bawah */
    bottom: 0;
    left: 0;
    background-color: #393646; /* Warna garis bawah */
    transition: width 0.2s ease-in-out; /* Transisi lebar garis */
}
.nav > a:hover::after{
    width: 100%;
}